
<div id="logic" class="liquidv">
    <h3>Logic Thread</h3>
    <svg id="fillgauge1" width="100%" height="200"></svg>
</div>
<div id="image" class="liquidv">
    <h3>Image Thread</h3>
    <svg id="fillgauge2" width="100%" height="200"></svg>
</div>
<div id="explore" class="liquidv">
    <h3>Explore Thread</h3>
    <svg id="fillgauge3" width="100%" height="200"></svg>
</div>
<div id="cpu" class="liquidv">
    <h3>CPU</h3>
    <svg id="fillgauge4" width="100%" height="200"></svg>
</div>
<div id="memory" class="liquidv">
    <h3>Memory</h3>
    <svg id="fillgauge5" width="100%" height="200"></svg>
</div>
<div id="Laser" class="map"></div>
<div id="map" class="map"></div>
<div id="moments" class="map"></div>
<div id="kmeans" class="map"></div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="javascripts/RobotLaser.js"></script>
<script src="javascripts/map.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="javascripts/liquid.js"></script>

