

<div id="logic" class="liquidv">
    <h2>Logic Thread</h2>
    <svg id="fillgauge1" width="100%" height="10%"></svg>
</div>
<div id="image" class="liquidv">
    <h2>Image Thread</h2>
    <svg id="fillgauge2" width="100%" height="10%"></svg>
</div>
<div id="explore" class="liquidv">
    <h2>Explore Thread</h2>
    <svg id="fillgauge3" width="100%" height="10%"></svg>
</div>
<div id="cpu" class="liquidv">
    <h2>CPU Percent</h2>
    <svg id="fillgauge4" width="100%" height="20%"></svg>
</div>
<div id="memory" class="liquidv">
    <h2>Memory Percent</h2>
    <svg id="fillgauge5" width="100%" height="20%"></svg>
</div>
<div class="blocky">
    <h2 class="page-header title">Exploration</h2>
    <div id="Laser" class="map"></div>
    <div id="map" class="map"></div>
   <div class="predNavDiv">
       <h2 class="predNavH2">Nothing</h2>
       <div id="predNav" class="map"></div>
   </div>
</div>
<div class="Image blocky">
    <h2 class="page-header title">Image Processing</h2>
    <button type="button" id="" class="btn btn-info start" onclick="startStream()">Start Camera</button>
    <div class="row cam">
        <img src="" id="stream_gray">
        <img src="" id="stream_laplacian">
        <img src="" id="stream_canny">
        <img src="" id="stream">
    </div>
</div>
<div class="cluster blocky">
    <h2 class="page-header title">Clustering</h2>
    <div id="kmeans" class="map"></div>
    <div id="image">        
        <div class="statistics">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Number of Clusters</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="clusters">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Number of elements</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="elements">
                </div>
            </div>
        </div>
        <h3>Image selected</h3>
        <img src="" id="stream_object">
    </div>
</div>
<div class="nnet blocky">
    <h2 class="page-header title">Navigation Neural Network</h2>    
    <div class="row camn">
        <img src="" id="stream_best">
        <img src="" id="stream_bad">
        <img src="" id="stream_nnet">
    </div>
    <h2 class="trainingNN"></h2>  
    <div id="nnet" class="map"></div>
    <div id="nnetForm">
        <div class="statistics_nnet">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Max Iterations</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="maxIter">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Accuracy Expected</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="accExp">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Lambda</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="lambda">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label"># General iterations</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="iterP">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label"># Number of Elements</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="0" id="iterS">
                </div>
            </div>
        </div>      
    </div>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="javascripts/PredNav.js"></script>
<script src="javascripts/RobotLaser.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/StreamClient.js"></script>
<script src="javascripts/map.js"></script>
<script src="javascripts/NNETCostSecure.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="javascripts/liquid.js"></script>


