.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

body {
  font: 11px sans-serif;
}

.map .axis path,
.map .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.map .dot {
  stroke: none;
  opacity:0;
}

.map .tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.map{
    width:40%;
    float:left;
    margin:5%;
}

.Laser{
    width:50%;
    float:left;
}

.cam img{
 width:40%;
 height:40%;        
}

.cluster #image{ 
 float:left;
 width:20%;
 height:30px;
 margin-left:30%;
 margin-top:10%;
}
.cluster img{
    padding:20%;
}
.cluster h3{
    width:100%;
}
h2{
 float:left;
 width:100%;
 text-align:center;
}

.cam{
    margin-left:15%;
}
